/*@font-face{
	 font-family:'MyriadPro-regular';
	 src: url(Harabara.ttf) format("truetype");
	
}*/
@font-face{
    font-family:'ZapfinoForteLTPro';
    src: url(ZapfinoForteLTPro.otf) format("opentype");
   
}